<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <meta http-equiv="content-type" content="text/html; charset=uft-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/primary.css') }}">
        <title>Home</title>
        <script>
            // When the user scrolls the page, execute myFunction
            window.onscroll = function() {myFunction()};

            // Get the header
            var header = document.getElementById("myHeader");

            // Get the offset position of the navbar
            var sticky = header.offsetTop;

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
              if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
              } else {
                header.classList.remove("sticky");
              }
            }
        </script>
    <head>
    <body>
        <div class="header" id="myHeader">
            <div class="inner_header">
                <div class = "logo_container">
                    <h1>Fed<span id="ending">erick Gonzalez</span></h1>
                </div>

                <ul class="navigation">
                    <a href="/"><li>Home</li></a>
                    <a href="/classes"><li>Classes</li></a>
                    <a href="/assignments"><li>Assignments</li></a>
                </ul>

            </div>
        </div>

        <div >
            <img src="{{url_for('static', filename='img/fed.jpg')}}" align="middle" style="width:600px;height:400px;" class="center"/>
            <div class = "center" id="a">
                <center><h1> Welcome to my home page! </h1></center>
                <p>Hello! My name is Federick Gonzalez, and I'm currently a sophomore in SEAS! I am an intended Computer
                    Science major, and I'm pretty sure it will stay that way. I've personally been programming since my
                    sophomore year of high school, so I think I'm pretty set on this path. </p>
                <p> If you look below, you'll find the links to a couple of websites that I enjoy! It's not a long list, but
                    it may be entertaining if you check them out!
                </p>
                <ol>
                    <li><a href="https://musescore.com/dashboard">Music resources</a></li>
                    <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Something of interest</a></li>
                    <li><a href="https://stackoverflow.com/">A place to get answers</a></li>
                </ol>
            </div>
        </div>
    </body>
</html>

